.navigation
{
    background-color: #333333;
    list-style-type: none;
    overflow: hidden;
}
body
{
    background-image: url(../image/backGround.jpg);
    background-color: #ffffff;
}
.navigation
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #272626;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nav
{
    /*display与float两种方式使列表转为横向*/
    /* display: inline; */
    float: left;
}
.navInput
{
    display:block ;
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}
.navTree
{
    display:block ;
    color:white;
    background-color:#333333;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}
#studyTree {
    position:absolute;
    right:0px;
    top:10%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 40%;
    background-color: #e3e7f1;
    padding: 50px 50px 50px 200px;
    box-shadow: inset 4px 0px 10px 3px rgba(0,0,0,0.5);
}
.inputArea{
    position: absolute;
    top: 10%;
    left: 2%;
}
button{
    background-color:#FF9966;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 14px 50px;
    cursor: pointer;
    border-radius: 10px;
}
legend{
    color:#FF9966 ;
    font-weight:bold;
}
